{
	"port": "8080",
	"database": "./march.db",
	"archivers": [
		{
			"name": "openbsd",
			"regexp": "openbsd.org",
			"script": "./archivers/openbsd.sh"
		}
	],
	"archives": [
		{
			"name": "foo",
			"storage": "./archives/foo",
			"users": [
				{
					"username": "foo",
					"password": "foo"
				}
			]
		}
	]
}
